body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.show_animation {
  animation: show_hide 4s forwards;
  animation-delay: 2s;
}
@keyframes show_hide {
  0% {
    opacity: 1;
    overflow: hidden;
    display: none;
  }

  100% {
    opacity: 0;
    overflow: visible;
  }
}
